<div class="{{ type }}-item {{ classes }}">
	<div class="{{ type }}-item--thumbnail">
		{% render "@content-image" with image %}
	</div>
	<div class="{{ type }}-item--body">
		<h5 class="{{ type }}-item--title small m-0">{{ title }}</h5>
	</div>
</div>
