{% if title %}
	<h2 class="{% if type != 'list' %}list-group-title {% endif %}list-group--{{ type }}-group-title {{ title_classes }}">{{ title }}</h2>
{% endif %}
<ul class="{% if type != 'list' %}list-group {% endif %}list-group--{{ type }}-group {{ classes }}">
	{% for item in items %}

		<li class="{% if type != 'list' %}list-group-item {% endif %} {{ type }}-group-item {{ item_classes }}">
			{% if type == 'articles-image' %}
				{% render "@component-list-item--article-image" with item %}
			{% elseif type == 'articles-headline' %}
				{% render "@component-list-item--article-headline" with item %}
			{% elseif type == 'articles' %}
				{% render "@component-list-item--article" with item %}
			{% elseif type == 'user' %}
				{% render "@component-list-item--user" with item %}
			{% else %}
				{% render "@component-list-item" with item %}
			{% endif %}

		</li>
	{% endfor %}
</ul>
